@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(210, 230, 166, 1);
        box-shadow: 0 0 0 0 rgba(210, 230, 166, 1);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(210, 230, 166, 0);
        box-shadow: 0 0 0 50px rgba(210, 230, 166, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(210, 230, 166, 0);
        box-shadow: 0 0 0 0 rgba(210, 230, 166, 0);
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #84B40A;
    cursor: pointer;
    box-shadow: #D2E6A6;
    animation: pulse 1.2s infinite;
}