#list-component {
    height: auto !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 0 20px 15px;
    border-radius: 4px;
}

.infinite-scroll-container {
    overflow-x: hidden !important;
    padding-bottom: 20px;
    transition: height 1s ease;
}

.list-item {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #dbdbdb;
}

.header-table {
    margin-top: 20px !important;
    padding: 10px 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

